
.cabecalho9 {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 30px;
}

.container_linha9 {
display: flex;
align-items: center;
justify-content: center;
}

.cad_titulo9 {
font-size: 35px;
position: relative;
margin-left: -70%;
margin-top: 20px;
color: orange;


}


.form9 {
margin-top: 53px;
align-items: center;
justify-content: center;
display: flex;
font-family: 'Poppins';
background-color: rgb(230, 230, 230);
}


.sub_titulo9 {
margin-bottom: 430px;
margin-left: -280px;
margin-top: 210px;
position: absolute;
color: orange;

}


.column9 input  {
border-radius: 30px;
width: 260px;
height: 50px;
background: none;
border: orange;
border-style: solid;
border-width: 1.5px;
padding-left:30px;
padding-right: 30px;
color: rgb(122, 122, 119);
margin-left: 60px;
font-family: 'Poppins';
}

.column9 input:hover{
background: none;
border: rgb(169, 169, 169);
border-style: solid;
border-width: 1.5px;
}

.column9 input:focus-visible {
outline:0;
border-radius: 10;
border-color: rgb(136, 136, 240);

}

.column9 label {
font-size: small;
color: rgb(253, 160, 0);
margin-top: 10px;
margin-bottom: 10px;
margin-left: -10px;
}

.conteiner_termo9 {
align-items: center;
display: flex;
margin-left: 0px;
position: absolute;
top: -40px;
font-size: smaller;
}

.conteiner_termo9 #flexCheckDefault{
    margin-top: 2px;
    height: 16px;
    width: 16px;
}
.termosAcesso9 {
margin-top: -20px;
display: inline;
margin-bottom: 50px;
left: 50px;

}

.checkbox9 {
position: absolute;
margin-left: 300px;
margin-top: 25px;
width: 13px;
color: #FF6B00;    
}

.acesso_txt9 {
position: absolute;
margin-left: 330px;
margin-top: 40px;
font-family: 'Poppins';
font-size: 12px;
color: orange;
}

.botoes9{

position: absolute;
align-items: center;
justify-content: center;
display: flex;
margin-top: 190px;
column-gap: 60px;
}

.botoes9 button {
border-radius: 25px;
height: 45px;
width: 200px;
background-color: rgb(147, 147, 147);
border-style: solid;
border: 1px;
color: white;
cursor: pointer;
font-family: 'Poppins';
}

.botoes9 button:last-child {
background-color: orange;
border-style: solid;
border: 1px;
color: white;
cursor: pointer;
}

.botoes9-disabled button  {
background-color: rgb(0, 0, 0);
border-style: solid;
border: 1px;
color: white;
cursor: pointer;
}

.botoes9 button:hover {
background-color: rgb(253, 119, 70);
}

.botoes9 button:first-child:hover {
background-color: rgb(206, 206, 206);
}

.container-form9 {
margin-top: 100px;
margin-bottom: 150px;
background-color: white;
height: 350px;
width: 700px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.column9 {
display: flex;
row-gap: 10px;  
column-gap: 0px;

}



.row9 {

grid-template-columns: 1fr 1.2fr;
margin-left: -700px;
}

/* .popup{
height: 300px;
width: 300px;
align-items: center;
}
ReactModal{
height: 300px;
width: 300px;
align-items: center;
position: absolute;
justify-content: center;
display: flex;
}
.popupdiv{
height: 300px;
width: 300px;
align-items: center;
position: absolute;
justify-content: center;
display: flex;
} */

.form-pop-up{
background-color: rgb(198, 196, 196);
align-items: center;
position: absolute;
justify-content: center;
display: flex;
border-radius: 30px;
margin-left: 23%;
margin-top: 5%;
}

.container-pop {
background-color: white;

height: 470px;
width: 750px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}