
.cabecalho2 {
        width: 100%;
        height: 50px;
        background-color: white;
        margin-bottom: 30px;
}

.container_linha2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cad_titulo2 {
    font-size: 35px;
    position: relative;
    margin-left: -70%;
    margin-top: 20px;
    color: orange;
    
    
}


.form2 {
    margin-top: 53px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Poppins';
    background-color: rgb(230, 230, 230);
}


.sub_titulo2 {
    margin-bottom: 430px;
    margin-left: -280px;
    margin-top: 100px;
    position: absolute;
    color: orange;
    
}


.column2 input  {
    border-radius: 30px;
    width: 230px;
    height: 50px;
    background: none;
    border: orange;
    border-style: solid;
    border-width: 1.5px;
    padding-left:30px;
    padding-right: 30px;
    color: rgb(122, 122, 119);
    margin-left: 75px;
    font-family: 'Poppins';
}

.column2 input:hover{
    background: none;
    border: rgb(169, 169, 169);
    border-style: solid;
    border-width: 1.5px;
}

.column2 input:focus-visible {
    outline:0;
    border-radius: 10;
    border-color: rgb(136, 136, 240);

}

.column2 label {
    font-size: small;
    color: rgb(253, 160, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
}

.conteiner_termo2 {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 230px;
    margin-left: 190px;
}

.termosAcesso2 {
    margin-top: -20px;
    display: inline;
    margin-bottom: 50px;

}

.checkbox2 {
    position: absolute;
    margin-left: 300px;
    margin-top: 25px;
    width: 13px;
    color: #FF6B00;    
}

.acesso_txt2 {
    position: absolute;
    margin-left: 330px;
    margin-top: 40px;
    font-family: 'Poppins';
    font-size: 12px;
    color: orange;
}

.botoes2{
    
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 460px;
    column-gap: 60px;
}

.botoes2 button {
    border-radius: 25px;
    height: 45px;
    width: 200px;
    background-color: rgb(147, 147, 147);
    border-style: solid;
    border: 1px;
    color: white;
    cursor: pointer;
    font-family: 'Poppins';
}

.botoes2 button:last-child {
    background-color: orange;
    border-style: solid;
    border: 1px;
    color: white;
    cursor: pointer;
}

.botoes2-disabled button  {
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border: 1px;
    color: white;
    cursor: pointer;
}

.botoes2 button:hover {
    background-color: rgb(253, 119, 70);
}

.botoes2 button:first-child:hover {
    background-color: rgb(206, 206, 206);
}

.container2 {
    background-color: white;
    height: 520px;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 10px;
}


.column2 {
    display: grid;
    row-gap: 30px;  
}



.row2 {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    margin-left: -30px;
}

