body{
    background-color: #e2e2e2;
    font-family: 'Poppins';
}

/*configuração da imagem da logo da visiona*/
.logo_visiona {
    height: 50px;
}

/*fundo do menu*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 80px;
    box-shadow: 0 1px  #F4E5DB;
}

/*abas(escritas) do menu*/
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*(tirando estilo da lista (tópicos) e deixando em uma unica linha)*/
#navbar li, #config li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/*estilizando escritas*/
#navbar li a, .link_nav{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #ff9500;
    transition: 0.7s ease-in-out;
}

/*estilizando escritas quando cursor sobrepõe*/
#navbar li a:hover, .link_nav:hover{
    color: rgb(137, 128, 164);
}

/*criando linha laranja ao passar o cursor no texto*/
#navbar li a:hover::after, .link_nav:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background-color: #fab14c;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: block;
}

#mobile i{
    color: #ff9500;
    align-items: center;
    cursor: pointer;
}

#config.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 80px;
    right: 70px;
    width: 190px;
    height: 13vh;
    background-color: rgb(248, 193, 98);
    box-shadow: 0 1px #F4E5DB;
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    animation: fadeInAnimation ease 0.5s;
    z-index: 9999;
}
  
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
  
#config {
    display: none;
}

#config li a{
    text-decoration: none;
    font-size: 1rem;
    margin-left: -35px;
    font-weight: 400;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

/*estilizando escritas quando cursor sobrepõe*/
#config li a:hover{
    color: rgb(154, 114, 83);
}
